@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1,h2, h3, h4, h5{
    font-family: 'roboto';
}
p{
    font-family: 'lato';
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#icone{
    display: flex;
    width: 40px;
}
#nav__right{
    display: flex;
    align-items: end;
}
.navbar {
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
    border-bottom:2px solid rgba(198, 53, 0, 0.55)
}
.navbar2 {
    background-color: #333;
    text-align:right;
    padding: .5rem 0;
}
.navbar ul {
    list-style: none;
    padding: 0;
}
.navbar2 ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar li {
    display: inline-block;
    margin: 0 20px;

    background-color: lightgray;
    font-size: 16px;
}
.navbar2 li {
    display: inline-block;
    margin: 0 20px;

}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}
.navbar2 a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}
.navbar a:hover {
    color: tomato;
}
.navbar2 a:hover {
    color: tomato;
}
h1{
    margin-top: 1.875rem;
    text-align: center;
}
#sect1{
    display: flex;
    margin: 3rem;
}
#img_right{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
#descListe{
    margin-top: 20px;
        padding-left: 20px; 
}
.button{
    width: 151px;
    height: 40px;
    margin: auto;
    display: flex;
}
#connectez_vous{
   display: flex;
   justify-content: center;
    font-size: 1.5625rem;
    margin: 1.25rem;
}
#carousel{
    display: flex;
    justify-content: space-around;
}
h3{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2.5rem;
    border-top:2px solid rgba(198, 53, 0, 0.55)
}
#mention{
text-decoration: none;
color: #fff;
margin-bottom: .625rem;
}
#name{
    color: white;
}
/* FORMULAIRE */
.body_form {
    display: flex;
    justify-content: center;
    background-image: url("./formFond.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 45%;
    margin: auto;
    border-radius: 5px;
  }
  form h1{
    color: #ffffff;
  }
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="mail"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #9c9c9ce1;
    outline: 2px solid #707070;
  }
  
  form input[type="text"]:focus,
  form input[type="password"]:focus {
    outline: 2px solid #002feb;
  }
  
  .label {
    align-self: flex-start;
    color: #ffffff;
    font-weight: 600;
  }
  
  form .submit {
    padding: 1rem 0.75rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: #707070;
    color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
  }
  
  form .submit:hover {
    background-color: #002feb;
    color: #ffffff;
  }
  
  .span {
    text-decoration: none;
    color: #ece9e9;
  }
  
  .span a {
    color: #002feb;
  }
  /* FIN FORMULAIRE */
@media (max-width: 768px) {
    .navbar ul {
        text-align: center;
    }
    .navbar li {
        display: block;
        margin: 10px 0;
    }
    .navbar2 ul {
        text-align: center;
    }
    .navbar2 li {
        display: block;
        margin: 10px 0;
    }
}