 <footer>
      <div class="footer">
        <section id="mention" >
        <ul>
            <li><a id="mention" href="#">Mention legal</a></li>
        </ul>
      </section>
      <section id="name">
        <p>Réalisé par "group cyber"</p>
      </section>
    </div>
    </footer>
    {% block javascripts %}
    <script>
        AOS.init();
    </script>
{% endblock %}