 <header>
    <div class="navbar">
        <ul>
            <li><a href="#">Inscription</a></li>
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Deconnexion</a></li>
        </ul>
    </div>
    <div class="navbar2">
      
      <ul>
        <li><img id="icone" src="favidev.png" alt="icone"></li>
        <div id="nav__right">
          <li><a href="#">Quiz</a></li>
          <li><a href="#">Resultat</a></li>
          <li><a href="#">Nous contacter</a></li>
        </div>
      </ul>
    </div>
  </header>