 <main>
      <h1>Les Quizz du Developpeur</h1>
      <section id="sect1">
        <div id="left">
          <h2>Choisissez votre quiz</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          <p>Nostrum officiis nulla tenetur quam fuga aspernatur consequatur magnam error, </p>
          <p>omnis dolorem modi doloremque a dolores quisquam tempore. Sapiente dignissimos quibusdam at.</p>
          <p>Ipsa similique dolorum at possimus nemo sint delectus, totam qui natus eaque commodi doloribus autem! </p>
          <p>Tenetur ipsum magnam a omnis veniam doloremque eaque at culpa esse sit, in quod ad!</p>
          <p>Distinctio, quidem quia assumenda nihil minima, quibusdam consequatur nostrum dolore, </p>
        </div>
        <div id="right" >
          <img id="img_right" src="favidev.png" alt="">
        </div>
      </section>
      <a id="connectez_vous" href="#">Connectez-vous pour acceder aux quiz</a>
      <section id="carousel">
        <a href="#">
            <img src="favidev.png" alt="Image html" width="100" height="100">
            <h3>HTML</h3>
        </a>
        <a href="#">
            <img src="favidev.png" alt="Image css" width="100" height="100">
            <h3>CSS</h3>
        </a>
        <a href="#">
            <img src="favidev.png" alt="Image js" width="100" height="100">
            <h3>JS</h3>
        </a>
        <a href="#">
            <img src="favidev.png" alt="Image php" width="100" height="100">
            <h3>PHP</h3>
        </a>
      </section>
  </main>